
<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="col-span-2 pt-6 ml-8 mr-8 mb-0 sm:pt-6 sm:pl-8 sm:pr-8 sm:pb-0">
        <div class="mt-3 text-3xl font-bold mb-2" style="text-align: right">Access Existing Quote, enter Passcode:</div>
        <form
            class="flex flex-col flex-auto overflow-y-auto"
            [formGroup]="composeForm">
            <div class="flex items-center mt-4 sm:mt-0 md:mt-4">


                <div class="flex-auto mr-10 mt-3" style="text-align: right" >
                    <mat-form-field style="width: 300px">
                        <input
                            class="text-uppercase"
                            matInput
                            minlength="6"
                            maxlength="6"
                            [formControlName]="'passcode'">
                    </mat-form-field>
                </div>
                <!-- Actions -->
                <button
                    class="order-first sm:order-last"
                    mat-flat-button
                    [color]="'primary'"
                    (click)="send()">
                    Send
                </button>

            </div>
        </form>

    </div>
    <div class="flex flex-auto justify-between w-full mx-auto p-6 sm:p-8">
        <div class="flex flex-col items-start m-8">
            <div class="mt-3 text-3xl font-bold mb-2">Create New Quote</div>
            <form style="width: 100%"
                  class="p-4 bg-card shadow rounded overflow-hidden"
                  [formGroup]="createNewQuote">
                <mat-horizontal-stepper
                    [linear]="true"
                    #horizontalStepper>
                    <mat-step
                        [formGroupName]="'step1'"
                        [stepControl]="createNewQuote.get('step1')"
                        #horizontalStepperStep1>
                        <ng-template matStepLabel>Step 1/2</ng-template>
                        <p class="my-6 font-medium">
                            Fill in your basic information to let us know your preferences
                        </p>
                        <div class="flex flex-col gt-xs:flex-row">
                            <mat-form-field class="flex-auto">
                                <input
                                    matInput
                                    [formControlName]="'email'"
                                    [placeholder]="'Email Address'"
                                    required>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <input
                                    matInput
                                    [formControlName]="'title'"
                                    [placeholder]="'Title'"
                                    required>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="flex">
                            <mat-form-field class="fuse-mat-textarea flex-auto">
                                <textarea
                                    matInput
                                    [formControlName]="'description'"
                                    [placeholder]="'Description'"
                                    [rows]="3"></textarea>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:menu-alt-2'"></mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="mat-elevation-z8 mt-8 mb-8">
                            <app-item-table (onChangeEvent) = "customTable($event)"></app-item-table>
                        </div>

                        <div class="flex flex-col gt-xs:flex-row zone zone-picker">
                            <mat-form-field *ngIf="!fileSelected">
                                <ngx-mat-file-input
                                    [formControlName]="'attachment'"
                                    [accept]="accept"
                                    [color]="'primary'"
                                    (click)="fileInput.click()">

                                </ngx-mat-file-input>
                            </mat-form-field>
                            <mat-form-field *ngIf="fileSelected">
                                <input
                                    matInput
                                    [formControlName]="'attachment'"
                                    [placeholder]="'Attachment'"
                                    (click)="fileInput.click()"
                                    required>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:document-text'"></mat-icon>
                            </mat-form-field>
                            <input hidden type="file" #fileInput (change)="advertiseImage(fileInput.files)" />

                        </div>

                        <div class="flex justify-end">
                            <button
                                class="px-8"
                                mat-flat-button
                                [color]="'primary'"
                                [disabled]="horizontalStepperStep1.stepControl.pristine || horizontalStepperStep1.stepControl.invalid"
                                type="button"
                                (click)="nextEvent()"
                                matStepperNext>
                                Next
                            </button>
                        </div>
                    </mat-step>

                    <mat-step
                        [formGroupName]="'step2'"
                        [stepControl]="createNewQuote.get('step2')"
                    >
                        <ng-template matStepLabel>Step 2/2</ng-template>
                        <p class="my-6 font-medium">
                            Thank you for completing our form! You can reset the form if you would like to change your
                            information.
                        </p>
                        <div class="flex flex-col gt-xs:flex-row">
                            <mat-form-field class="flex-auto">
                                <input
                                    matInput
                                    [formControlName]="'email1'"
                                    [placeholder]="'Email Address'"
                                    [disabled]="true"
                                    class="text-primary"
                                    required>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <input
                                    matInput
                                    [formControlName]="'title1'"
                                    [placeholder]="'Title'"
                                    [disabled]="true"
                                    class="text-primary"
                                    required>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="flex">
                            <mat-form-field class="fuse-mat-textarea flex-auto">
                                <textarea
                                    matInput
                                    [formControlName]="'description1'"
                                    [placeholder]="'Description'"
                                    [disabled]="true"
                                    class="text-primary"
                                    [rows]="3"></textarea>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:menu-alt-2'"></mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="mat-elevation-z8 mt-8 mb-8">
                            <app-item-table (onChangeEvent) = "customTable($event)"></app-item-table>
                        </div>

                        <div class="flex">
                            <mat-form-field class="fuse-mat-textarea flex-auto">
                                <input
                                    matInput
                                    [formControlName]="'attachment1'">
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:document-text'"></mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="flex justify-end mt-8">
                            <button
                                class="px-8 mr-2"
                                mat-flat-button
                                [color]="'accent'"
                                type="button"
                                matStepperPrevious>
                                Back
                            </button>
                            <button
                                class="px-8"
                                mat-flat-button
                                [color]="'primary'"
                                type="submit"
                                (click)="valueSubmit()">
                                Submit
                            </button>
                        </div>
                    </mat-step>
                </mat-horizontal-stepper>
            </form>
        </div>

    </div>


</div>
