<div class="flex flex-col flex-auto min-w-0">
       <!-- Main -->
    <div class="lg:flex md:block sm:block flex-auto justify-center w-full mx-auto p-6 sm:p-8">
        <div class="flex flex-col items-start m-8">
            <div class="mt-3 text-3xl font-bold mb-2">Create New Quote</div>
            <form style="width: 100%"
                class="p-4 bg-card shadow rounded overflow-hidden"
                [formGroup]="createNewQuote">
                <mat-horizontal-stepper
                    [linear]="true"
                    #horizontalStepper>
                    <mat-step
                        [formGroupName]="'step1'"
                        [stepControl]="createNewQuote.get('step1')"
                        #horizontalStepperStep1>
                        <ng-template matStepLabel>Step 1/2</ng-template>
                        <p class="my-6 font-medium">
                            Fill in your basic information to let us know your preferences
                        </p>
                        <div class="flex flex-col gt-xs:flex-row">
                            <mat-form-field class="flex-auto">
                                <input
                                    matInput
                                    [formControlName]="'email'"
                                    [placeholder]="'Email Address'"
                                    required>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <input
                                    matInput
                                    [formControlName]="'title'"
                                    [placeholder]="'Title'"
                                    required>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="flex">
                            <mat-form-field class="fuse-mat-textarea flex-auto">
                                <textarea
                                    matInput
                                    [formControlName]="'description'"
                                    [placeholder]="'Description'"
                                    [rows]="3"></textarea>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:menu-alt-2'"></mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="flex flex-col gt-xs:flex-row">
                            <mat-form-field class="flex-auto">
                                <input
                                    matInput
                                    [formControlName]="'quantity'"
                                    [placeholder]="'Quantity'"
                                    required>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:selector'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <input
                                    matInput
                                    [formControlName]="'unit'"
                                    [placeholder]="'Unit'"
                                    required>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:currency-dollar'"></mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="flex flex-col gt-xs:flex-row zone zone-picker">
                            <mat-form-field *ngIf="!fileSelected">
                                <ngx-mat-file-input
                                    [formControlName]="'attachment'"
                                    [accept]="accept"
                                    [color]="color"
                                    (click)="fileInput.click()">

                                </ngx-mat-file-input>
                            </mat-form-field>
                            <mat-form-field *ngIf="fileSelected">
                                <input
                                    matInput
                                    [formControlName]="'attachment'"
                                    [placeholder]="'Attachment'"
                                    (click)="fileInput.click()"
                                    required>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:document-text'"></mat-icon>
                            </mat-form-field>
                            <input hidden type="file" #fileInput (change)="advertiseImage(fileInput.files)" />

                        </div>

                        <div class="flex justify-end">
                            <button
                                class="px-8"
                                mat-flat-button
                                [color]="'primary'"
                                [disabled]="horizontalStepperStep1.stepControl.pristine || horizontalStepperStep1.stepControl.invalid"
                                type="button"
                                (click)="nextEvent()"
                                matStepperNext>
                                Next
                            </button>
                        </div>
                    </mat-step>

                    <mat-step
                        [formGroupName]="'step2'"
                        [stepControl]="createNewQuote.get('step2')"
                    >
                        <ng-template matStepLabel>Step 2/2</ng-template>
                        <p class="my-6 font-medium">
                            Thank you for completing our form! You can reset the form if you would like to change your
                            information.
                        </p>
                        <div class="flex flex-col gt-xs:flex-row">
                            <mat-form-field class="flex-auto">
                                <input
                                    matInput
                                    [formControlName]="'email1'"
                                    [placeholder]="'Email Address'"
                                    [disabled]="true"
                                    class="text-primary"
                                    required>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <input
                                    matInput
                                    [formControlName]="'title1'"
                                    [placeholder]="'Title'"
                                    [disabled]="true"
                                    class="text-primary"
                                    required>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="flex">
                            <mat-form-field class="fuse-mat-textarea flex-auto">
                                <textarea
                                    matInput
                                    [formControlName]="'description1'"
                                    [placeholder]="'Description'"
                                    [disabled]="true"
                                    class="text-primary"
                                    [rows]="3"></textarea>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:menu-alt-2'"></mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="flex flex-col gt-xs:flex-row">
                            <mat-form-field class="flex-auto">
                                <input
                                    matInput
                                    [formControlName]="'quantity1'"
                                    [placeholder]="'Quantity'"
                                    class="text-primary"
                                    required>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:selector'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <input
                                    matInput
                                    [formControlName]="'unit1'"
                                    [placeholder]="'Unit'"
                                    class="text-primary"
                                    required>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:currency-dollar'"></mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="flex flex-col gt-xs:flex-row">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <input
                                    matInput
                                    [formControlName]="'attachment1'"
                                    [placeholder]="'Attachment'"
                                    class="text-primary"
                                    disabled
                                    required>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:document-text'"></mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="flex justify-end mt-8">
                            <button
                                class="px-8 mr-2"
                                mat-flat-button
                                [color]="'accent'"
                                type="button"
                                matStepperPrevious>
                                Back
                            </button>
                            <button
                                class="px-8"
                                mat-flat-button
                                [color]="'primary'"
                                type="submit"
                                (click)="valueSubmit()">
                                Submit
                            </button>
                        </div>
                    </mat-step>
                </mat-horizontal-stepper>
            </form>
        </div>
        <div class="lg:flex flex-col items-start m-8 ">
            <div class="mt-3 text-3xl font-bold mb-2"><br></div>
            <fuse-card class="flex flex-col  w-full p-8">
                <div class="text-2xl font-semibold leading-tight">About Quote</div>
                <div class="mt-4">
                    Successfully added your quote. You can check your detail which you just entered
                    <br><br>
                </div>
                <hr class="w-full border-t my-6">
                <div class="flex flex-col">
                    <div class="flex items-center">
                        <mat-icon
                            class="icon-size-5 mr-3"
                            [svgIcon]="'heroicons_outline:key'"></mat-icon>
                        <span class="leading-none">Passcode : {{myInfo?myInfo['passcode']:(this.storage)}}</span>
                    </div>
                    <div class="flex items-center mt-4">
                        <mat-icon
                            class="icon-size-5 mr-3"
                            [svgIcon]="'heroicons_outline:mail-open'"></mat-icon>
                        <span class="leading-none">Email : {{myInfo?myInfo['email']:''}}</span>
                    </div>
                    <div class="flex items-center mt-4">
                        <mat-icon
                            class="icon-size-5 mr-3"
                            [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                        <span class="leading-none">Title : {{myInfo?myInfo['title']:''}}</span>
                    </div>
                    <div class="flex items-center mt-4">
                        <mat-icon
                            class="icon-size-5 mr-3"
                            [svgIcon]="'heroicons_outline:book-open'"></mat-icon>
                        <span class="leading-none">Description : {{myInfo?myInfo['description']:''}}</span>
                    </div>
                    <div class="flex items-center mt-4">
                        <mat-icon
                            class="icon-size-5 mr-3"
                            [svgIcon]="'heroicons_outline:gift'"></mat-icon>
                        <span class="leading-none">Quantity : {{myInfo?myInfo['quantity']:''}}</span>
                    </div>
                    <div class="flex items-center mt-4">
                        <mat-icon
                            class="icon-size-5 mr-3"
                            [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon>
                        <span class="leading-none">Unit : {{myInfo?myInfo['unit']:''}}</span>
                    </div>
                    <div class="flex items-center mt-4">
                        <mat-icon
                            class="icon-size-5 mr-3"
                            [svgIcon]="'heroicons_outline:link'"></mat-icon>
                        <span class="leading-none">Attachment : {{myInfo?myInfo['_id'] + '.' + myInfo['attachment'].split('.')[1]:''}}</span>
                    </div>
                    <div class="flex items-center mt-4">
                        <mat-icon
                            class="icon-size-5 mr-3"
                            [svgIcon]="'heroicons_outline:calendar'"></mat-icon>
                        <span class="leading-none">Created At : {{myInfo?myInfo['createdAt'].split('T')[0]:''}}</span>
                    </div>
                </div>
                <button
                    class="px-6 mt-8"
                    mat-flat-button
                    [color]="'primary'"
                    [routerLink]="['./']">
                    See complete bio
                </button>
            </fuse-card>

        </div>

    </div>

    <div
        class="flex flex-auto justify-center w-full mx-auto p-6 sm:p-8">
        <div class="flex-1 min-w-0 m-8">
            <!-- Breadcrumbs -->
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" class="table-width">

                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef class="table-right-style"> No. </th>
                        <td mat-cell *matCellDef="let element" class="table-right-style"> {{element.position}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef class="table-right-style"> Name </th>
                        <td mat-cell *matCellDef="let element" class="table-right-style"> {{element.name}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="weight">
                        <th mat-header-cell *matHeaderCellDef class="table-right-style"> Weight </th>
                        <td mat-cell *matCellDef="let element" class="table-right-style"> {{element.weight}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="symbol">
                        <th mat-header-cell *matHeaderCellDef class="table-right-style"> Symbol </th>
                        <td mat-cell *matCellDef="let element" class="table-right-style"> {{element.symbol}} </td>
                    </ng-container>

                    <ng-container matColumnDef="remove">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element" class="table-right-style cursor-pointer">
                            <mat-icon
                                class="icon-size-5 mr-3"
                                [svgIcon]="'heroicons_solid:x'"></mat-icon>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div>
